nav.navbar,
.navbar-default {
  /* background-color: #2892d7 !important; */
  background-color: black !important;
  opacity: 0.89;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  border-color: white;
}

.navbar-default .navbar-toggle:focus .navbar-default .navbar -brand:hover {
  border-color: transparent;
}

.navbar-default .navbar-brand:focus .navbar-default .navbar -brand:hover {
  color: white;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus .navbar-default .navbar-nav>li>a:hover {
  color: white;
  border-color: transparent;
}
